version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      actions-deps:
        patterns:
          - "*"
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
      time: '04:00'
    open-pull-requests-limit: 10
    groups:
#      dev-deps:
#        dependency-type: "development"
#        exclude-patterns:
#          - "mock-oauth2-server"
#      prod-deps:
#        dependency-type: "production"
#        exclude-patterns:
#          - "mock-oauth2-server"
    ignore:
      - dependency-name: "io.debezium:debezium-testing-testcontainers"
      - dependency-name: "org.asynchttpclient:async-http-client"
        versions: [ ">=3.0.0" ]
