/.idea/
/target/
*.bkp
*.html
*.iml
/src/.~lock.*
/kafka-connect-http-core/target/
/kafka-connect-http-connectors/target/
/kafka-connect-http-connectors/src/test/resources/clusterID/clusterID
docs/.$http_sink_connector.drawio.bkp
/docs/.$architecture_options_2.drawio.bkp
/report-aggregate/target/