<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%thread] %highlight %d{HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="io.github.clescot.kafka.connect.http" level="INFO" />
    <logger name="io.github.clescot.kafka.connect.http.client.okhttp" level="INFO" />
    <logger name="io.github.clescot.kafka.connect.http.client.okhttp.interceptor" level="DEBUG" />
    <logger name="io.github.clescot.kafka.connect.http.sink" level="DEBUG" />
    <logger name="io.github.clescot.kafka.connect.http.sink.HttpSinkConnectorConfig" level="INFO" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="ch.qos.logback.classic.LoggerContext" level="WARN" />
    <logger name="ch.qos.logback.classic.model.processor.LoggerModelHandler" level="WARN" />
</configuration>