name: build
on:
  pull_request_target:
    branches-ignore:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      - name: Set up JDK 17
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Cache local Maven repository
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn  --batch-mode --update-snapshots -Pcoverage clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=clescot -Dsonar.projectKey=clescot_kafka-connect-http
        env:
          MAVEN_GPG_KEY: "${{ secrets.MAVEN_GPG_KEY }}"
          MAVEN_GPG_KEY_ID: "${{ secrets.MAVEN_GPG_KEY_ID }}"
          MAVEN_GPG_PASSPHRASE: "${{ secrets.MAVEN_GPG_PASSPHRASE }}"
          SONAR_TOKEN: "${{ secrets.SONAR_TOKEN }}"
      - run: mkdir staging && cp kafka-connect-http-core/target/*.jar staging && cp -r kafka-connect-http-connectors/target/components/packages/clescot-kafka-connect-http-connectors-*.zip staging
      - uses: actions/upload-artifact@v5.0.0
        with:
          name: Package
          path: staging

