name: release and publish to central.sonatype.com and github packages
on:
  push:
    branches:
      - master
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Set up JDK 17 for central.sonatype.com
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: 'adopt'
          server-id: 'central'
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Configure Git user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "clescot"
      - name: Publish to the Maven Central Repository via central.sonatype.com
        run: mvn -B release:prepare release:perform -e -PsonatypeDeploy --no-transfer-progress  -Dmaven.test.skip=true  deploy  -DskipNexusStagingDeployMojo=true
        env:
          MAVEN_USERNAME: "${{ secrets.NEXUS_USERNAME }}"
          MAVEN_PASSWORD: "${{ secrets.NEXUS_PASSWORD }}"
          MAVEN_GPG_KEY: "${{ secrets.MAVEN_GPG_KEY }}"
          MAVEN_GPG_KEY_ID: "${{ secrets.MAVEN_GPG_KEY_ID }}"
          MAVEN_GPG_PASSPHRASE: "${{ secrets.MAVEN_GPG_PASSPHRASE }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MAVEN_OPTS: " -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn "

      - name: Get release tag name
        id: tag-name
        run: |
          export TAG=$(git describe --tags --abbrev=0 HEAD~)
          echo "TAG=$TAG" >> $GITHUB_OUTPUT
      - name: upload artifacts to github packages
        uses: ncipollo/release-action@v1.20.0
        with:
          tag: ${{ steps.tag-name.outputs.TAG }}
          artifacts: "kafka-connect-http-core/target/*-${{ steps.tag-name.outputs.TAG }}.jar,kafka-connect-http-connectors/target/components/packages/*-${{ steps.tag-name.outputs.TAG }}.zip"
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}

