name: Publish package to GitHub Packages
on:
  pull_request:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set MAVEN_PROJECT_VERSION as env
        run: echo "MAVEN_PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload ZIP archive
        run: |
          mvn deploy:deploy-file \
          -Dfile=target/components/packages/clescot-kafka-connect-http-sink-${{ env.MAVEN_PROJECT_VERSION }}.zip \
          -Durl=https://maven.pkg.github.com/clescot/kafka-connect-http-sink \
          -DgroupId=com.github.clescot \
          -DartifactId=kafka-connect-http-sink \
          -Dversion=${{ env.MAVEN_PROJECT_VERSION }} \
          -Dpackaging=zip \
          -DrepositoryId=github
