name: Publish package to GitHub Packages
on:
  push:
    branches:
      - master
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: github
          cache: maven
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Configure Git user
        run: |
          git config user.email "actions@github.com"
          git config user.name "clescot"
          git config commit.gpgsign true
          git config  user.signingkey ${{ secrets.MAVEN_GPG_KEY_ID }}
      - name: Release
        uses: qcastel/github-actions-maven-release@v1.12.37
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          version-patch: true
          gpg-enabled: "true"
          gpg-key-id: ${{ secrets.MAVEN_GPG_KEY_ID }}
          gpg-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-key-passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
          gpg-enabled: "false"
          maven-args: " -DskipIT "
          maven-servers: '[{"id": "github", "username": "$GITHUB_ACTOR", "password": "${{ secrets.GITHUB_TOKEN }}"}]'
        env:
          JAVA_HOME: /usr/lib/jvm/java-11-openjdk/
      - name: Get tag name
        id: tag-name
        run: |
          export TAG=$(git describe --tags --abbrev=0 HEAD~)
          echo "TAG=$TAG" >> $GITHUB_OUTPUT
      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag-name.outputs.TAG }}
          artifacts: "core/target/*.jar,archive/target/components/packages/*.zip"
          generateReleaseNotes: true
      - uses: actions/checkout@v3
      - name: Set up Java for publishing to Maven Central Repository
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish to the Maven Central Repository
        run: mvn -Possrh --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - uses: actions/checkout@v3
                - name: Set up Java for publishing to Maven Central Repository
                uses: actions/setup-java@v3
                with:
                  java-version: '11'
                  distribution: 'adopt'
                  gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
                  gpg-passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
                  server-id: ossrh
                  server-username: MAVEN_USERNAME
                  server-password: MAVEN_PASSWORD
      - name: Publish to the Maven Central Repository with the 'ossrh' maven profile
      - name: Publish to the Maven Central Repository
        run: mvn -Possrh --batch-mode deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}


